<div class="container">
<br>
    <div class="row" id="header">
        <div class="col text-center">
            <h1>EAT DA BURGER!</h1>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12 text-center">
            <label for="exampleFormControlInput1"><h4>WHAT ARE YOU CRAVING?</h4></label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mx-auto text-center">
                <form>
                    <div class="form-group">
                    <input type="email" class="form-control" id="burger-form">
                    </div>
                </form>
                    
                    <button type="button" class="btn btn-warning text-center" id="add-burger">CRAVE NO MORE!</button>

        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-4 text-center" id="left-column">
            <br>
            <h5 class="text-center">DEVOUR THESE:</h5>
            <br>

        {{#each burger_data}}
        {{#unless this.devoured}}
       
          <p>    
            {{this.id}}. {{this.burger_name}}
            <button type="button" class="btn btn-danger" id="devour-it-button">Devour it!</button>
          </p>
       
        {{/unless}}
        {{/each}}

        </div>

        <div class="col-md-4 d-none d-sm-block" id="juicy-burger">
            <img src="./assets/burger-v2" class="img-fluid hidden-sm-down" alt="Delicious burger">
        </div>

        <div class="col-md-4 text-center" id="right-column">
            <br>
            <h5 class="text-center">DEVOURED:</h5>
            <br>

        {{#each burger_data}}
        {{#if this.devoured}}
       
          <p>    
            {{this.id}}. {{this.burger_name}}
          </p>
       
        {{/if}}
        {{/each}}


        </div>

    </div>

</div>

