<div class="container"></div>

    <div class="jumbotron text-center">
        <h1 class="display-4">Eat Da Burger!</h1>
        <hr class="my-4">
    </div>

    <div class="row">
        <div class="col-md-4 mx-auto text-center">
                <form>
                    <div class="form-group text-center">
                    <label for="exampleFormControlInput1"><h6>Enter the name of a burger you would like to devour!</h6></label>
                    <input type="email" class="form-control" id="burger-form" placeholder="Enter your burger here...">
                    </div>
                </form>
                    
                    <button type="button" class="btn btn-warning text-center" id="add-burger">Add my burger please!</button>

        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-6 text-center">
            <h5>Burgers waiting to be devoured are shown below:</h5>
            <br>
                  <ul>
        {{#each burger_data}}
       
        <li>
          <p>
           
            {{this.id}}. {{this.burger_name}}

          </p>
        </li>
       
        {{/each}}
      </ul>
        </div>

        <div class="col-md-6 text-center">
            <h5>Burgers that have been devoured are shown here:</h5>
        </div>

    </div>

